
.about-section{
    /* background-color: aqua; */
    padding: 4rem 0;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-h1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.about-p{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em 0;
    line-height: 1.5em;
}
.about-p1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 1em 0;
    line-height: 1.5em;
}
.about-p2{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 1em 0;
}
.about-p2 span{
    color: rgb(3, 41, 18);
    border-bottom: 1px solid rgb(235, 145, 10);
}
.about-p2 span:hover{
    color: rgb(235, 145, 10);
    border-bottom: 1px solid rgb(3, 41, 18);
    cursor: pointer;
}
.about-button button{
    width: 18rem;
    height: 6rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border: 2px solid rgb(235, 145, 10);
    background: fixed;
}
.about-button button:hover{
    border: none;
    background-color: rgb(235, 145, 10);
    cursor: pointer;
}


.div-box{
    width: 40rem;
    height: 55rem;
    background-color: rgb(126, 126, 223);
    margin-left: 5rem;
}


/* ######################### .about-container2 styling ############################# */

.about-container2{
    display: flex;
    justify-content: space-around;
    margin: 5rem auto;
}
.project-h1{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.project-h1 span{
    font-size: 6rem;
    color: rgb(235, 145, 10);
    margin: 0 0.5em 0 0;
}
.project-p{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
    line-height: 1.6em;
    word-spacing: 0.1em;
}