*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ############# html slyling ########## */

html{
  font-size: 62.5%;
}
/* ################### utility classes ############## */

.container{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
}